<head>
    <link rel="stylesheet" href="/styles.css">
</head>
<div id="main-container">
<img src="/assets/imdblogo.png" class="logo" alt=""><br>

<form action="/register" method="post">
    <div class="registration-container">
        
    <fieldset>
    <div class="form">
        <h1>Create account</h1> 

        <legend></legend>
        <div class="inputField">
            <h5>Your name</h5>          
            <input type="text" name="name" placeholder="First and last name" class="formInput" required/>
        </div>

        <div class="inputField">
            <h5>Email</h5>              
            <input type="email" name="email" class="formInput" required/>
        </div>

        <div class="inputField">
             <h5>Password</h5>           
             <input type="password" name="password" placeholder="at least 8 characters" minlength="8"  class="formInput" required/>
             <sub>Passwords must be at least 8 characters.</sub>
        </div>

        <div class="inputField">
            <h5>Re-enter Password</h5>  
            <input type="password" name="passwordCheck" class="formInput" required/>
        </div>
    </div>
        
            <input id="submit-btn" type="submit" value="Create your IMDB account" class="formInput"><br><br><br>

            <div class="gradient-line"></div>


            <p class="signIn">Already have an account? <a href="" target="_blank">Sign in</a></p>
        
    </fieldset>
<div class=footer>
<a href="" target="_blank">Help</a>
<a href="" target="_blank">Conditions of Use</a>
<a href="" target="_blank">Privacy Notice</a>
<p>© 1996-2023, Amazon.com, Inc. or its affiliates</p>
</div>
<br>

</form>


<!-- <h1>Hello World</h1> -->